/* فونت و تنظیمات پایه */
body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  direction: rtl;
  background:  url('assets/logo.png');
  color: #333;
}

/* هدر */
header {
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 50px; /* اندازه لوگو */
  margin-left: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* بنر */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: url('assets/banner.gif') no-repeat center center/cover; /* بنر GIF */
  color: white;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  background: #e63946;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #d62828;
}

/* فوتر */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
